
.carousel {
    position: relative;
    overflow: hidden;
}
.items-container {
    display: flex;
    transition: transform 0.5s ease;
}
.card {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}
.active , 
.next {
    display: flex;
}
.next {
    position: absolute;
    width: 100%;
}
.to-left{
    animation-name: left;
}
.from-right{
    animation-name: right;
}
.to-right{
    animation-name: right;
    animation-direction: reverse;
}
.from-left{
    animation-name: left;
    animation-direction: reverse;
}
@keyframes left {
    from{
        left: 0;
    }
    to {
        left:-100%;
    }
}
@keyframes right {
    from{
        left: 100%;
    }
    to {
        left:0;
    }
}
